.order {
  margin: 0 auto;
  max-width: 1920px;
  background-image: url("../img/order-background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.order__container {
  margin: 0 auto;
  padding: 120px 20px;
  padding-bottom: 150px;
  max-width: 1212px;
}

.order__title {
  margin-bottom: 30px;
  @include font(36px, 43px);
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.order__title--blue {
  color: #3e9cdc;
}

.order__text {
  margin-bottom: 80px;
  @include font(18px, 22px);
  text-align: center;
  color: #bbbbbb;
}

.order__list {
  @include list-none;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

.order__item {
  margin-right: 30px;
  margin-bottom: 40px;
  padding: 0 10px;
  width: 209px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  @media (max-width: 767px) {
    margin-right: 0;
    width: 100%;
  }
}

.order__item:nth-of-type(5n) {
  margin-right: 0;
}

.order__item::after {
  content: "";
  width: 110px;
  height: 6px;
  background-image: url("../img/order-decor.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 47px;
  right: -70px;
  @media (max-width: 1365px) {
    display: none;
  }
}

.order__item:nth-of-type(5n)::after, .order__item:last-of-type::after {
  display: none;
}

.order__item-image {
  margin-bottom: 20px;
}

.order__item-text {
  @include font(16px, 19px);
  color: #ffffff;
}